<!-- Navbar -->
<div class="navbar-fixed">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img src="/assets/icon.svg" alt="depth logo" class="align-middle" width="40" height="40" style="vertical-align: middle; margin-right: 8px;">
                Depth
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/#intro">소개</a></li>
                <li><a href="/#portfolio">포트폴리오</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- Sidenav -->
<ul class="sidenav" id="mobile-nav">
    <li>
        <div class="user-view" style="background-image: url('/assets/3d_bg.png'); background-size: cover; padding: 32px 32px 16px;">
            <a href="/" class="brand-logo white-text">
                <img src="/assets/icon.svg" alt="depth logo" width="50" height="50"><span style="font-size: 2rem; vertical-align: middle; margin-left: 10px;">Depth</span>
            </a>
        </div>
    </li>
    <li><a href="/#intro" class="waves-effect"><i class="material-icons">info_outline</i>소개</a></li>
    <li><a href="/#portfolio" class="waves-effect"><i class="material-icons">collections</i>포트폴리오</a></li>
</ul>